::ng-deep {
  .mat-checkbox-frame {
    border-color: yellow;
  }
  .mat-checkbox-background {
    background-color: transparent !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
