<div class="row py-2">
  <div class="col-md-6 col-xs-12">

    <div id="carouselExampleIndicators" *ngIf="product != null && product.pictureIds.length > 0" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" *ngFor="let pictureId of product?.pictureIds; index as i;"
                data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i"
                [class.active]="i == 0" [attr.aria-current]="i == 0" [attr.aria-label]="'Slide ' + (i + 1)"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let pictureId of product?.pictureIds; index as i;" [class.active]="i == 0">
          <img src='{{"/api/v1/picture/" + pictureId}}' class="d-block w-100" style="height: 500px; object-fit: contain;" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div *ngIf="product == null || product.pictureIds.length == 0">
    <img src='/no_image.png' class="d-block w-100" style="height: 500px; object-fit: contain;" alt="...">
  </div>

  <div class="col-md-6 col-xs-12">
    <h2>{{product?.name}}</h2>
    <p>{{product?.cost}} &#8381;</p>
    <p>Описание</p>
    <p class="text-muted">{{product?.description}}</p>
    <form class="row">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Add to card</button>
      </div>
      <div class="col-auto">
        <input type="number" class="form-control" value="0"/>
      </div>
    </form>

  </div>
</div>
