<div class="row mt-3">
  <div class="col-md-4 mb-3 p-4">
    <div class="accordion mb-3 border border-primary rounded-3 shadow" id="accordionCategory">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingCategories">
          <button class="accordion-button collapsed p-2 text-center" type="button" data-bs-toggle="collapse"
                  data-bs-target="#controlsCategories" aria-expanded="false" aria-controls="controlsCategories">
            Categories
          </button>
        </h2>
        <div id="controlsCategories" class="accordion-collapse collapse" aria-labelledby="headingCategories"
             data-bs-parent="#accordionCategory">
          <div class="accordion-body m-0 p-0">
            <div class="form-check w-100 m-0 p-0" *ngIf="categories.length > 0">
              <input type="radio" class="btn-check" name="options" id="optionAll" autocomplete="off"
                     [attr.checked]="productListParams.categoryId == -1 ? '' : null">
              <label class="btn btn-outline-primary w-100 border-0 rounded-0 text-start" for="optionAll"
                     (click)="changeCategory(-1)">All</label>
            </div>
            <div class="form-check w-100 m-0 p-0" *ngFor="let category of categories; index as i">
              <input type="radio" class="btn-check" name="options" id='{{"option" + i}}' autocomplete="off"
                     [attr.checked]="productListParams.categoryId == category.id ? '' : null">
              <label class="btn btn-outline-primary w-100 border-0 rounded-0 text-start" for='{{"option" + i}}'
                     (click)="changeCategory(category.id)">{{category.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-product-filter [brands]="brands" (filterApplied)="applyFilter($event)"></app-product-filter>
  </div>

  <div class="col-md-8 mb-3 p-4">

    <app-product-gallery-card [products]="page?.content"></app-product-gallery-card>

    <app-pagination [page]="page" (pageNumberChanged)="pageNumberChange($event)"></app-pagination>

  </div>
</div>
