<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Categories')"></head>
<body>
<div class="container">
    <header th:replace="fragments/common :: header"/>
    <nav th:replace="fragments/common :: navigation"></nav>
    <div class="row mb-3 mx-0">
        <div class="col-md-12 p-1">
            <div class="bg-light rounded border border-info p-2 shadow">
                <a id="addCategoryBtn" class="btn btn-primary" th:href="@{/category/new}">Add category</a>
                <table class="table table-bordered my-2">
                    <thead class="bg-info">
                    <tr>
                        <th scope="col" class="text-white">Id</th>
                        <th scope="col" class="text-white">Name</th>
                        <th scope="col" class="text-white">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${categories.size() > 0}" th:each="category, iter : ${categories}">
                        <th scope="row" th:text="${category.id}">1</th>
                        <td th:id="${'category' + iter}" th:text="${category.name}">Category 1</td>
                        <td>
                            <a class="btn btn-success" th:href="@{category/{id}(id = ${category.id})}">
                                <i class="fas fa-edit"></i></a>
                            <form class="d-inline" th:method="delete"
                                  th:action="@{/category/{id}(id = ${category.id})}">
                                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    <tr th:unless="${categories.size() > 0}">
                        <td colspan="4">No data</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:insert="fragments/common :: end_scripts"></th:block>
</html>