<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/common :: head('Home page')"></head>
    <body>
        <div class="container">
            <header th:replace="fragments/common :: header"/>
            <nav th:replace="fragments/common :: navigation"></nav>
            <div class="navbar-cnt main-content">
                <h1>Добро пожаловать в наш магазин!</h1>
            </div>
        </div>
    </body>
    <th:block th:insert="fragments/common :: end_scripts"></th:block>
</html>