<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Login')"></head>
<body class="text-center">
<div class="row h-100">
    <form class="p-2 m-auto border border-info rounded shadow bg-light" style="width: 330px;"
          th:action="@{/login_processing}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Login</label>
        <input type="text" id="username" name="username" class="form-control mb-3"
               placeholder="Login" required autofocus>
        <p class="text-danger" th:if="${param.error != null}">Incorrect login or password</p>
        <p class="text-success" th:if="${param.logout != null}">Logout successful</p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control mb-3"
               placeholder="Password" required>
        <button id="btn-login" class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign in</button>
        <p class="mb-3 text-muted">© 2021</p>
    </form>
</div>
</body>
<th:block th:insert="fragments/common :: end_scripts"></th:block>
</html>