<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Edit product')"></head>
<body>
<div class="container">
    <header th:replace="fragments/common :: header"/>
    <nav th:replace="fragments/common :: navigation"></nav>
    <div class="row mb-3 mx-0 px-1">
        <div class="col-md-12 bg-light rounded border border-info shadow py-3">
            <form th:action="@{/product}" method="post" th:object="${product}" enctype="multipart/form-data">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>Product name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}"
                           placeholder="Enter product name">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label>Cost</label>
                        <input type="text" class="form-control" id="cost" th:field="*{cost}"
                               placeholder="Enter product cost">
                        <p class="text-danger" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>
                    </div>
                    <div class="form-group col">
                        <label for="categories">Category</label>
                        <select class="form-control" id="categories" th:field="*{categoryDto}" required>
                            <option th:each="category : ${categories}"
                                    th:text="${category.name}"
                                    th:value="${category.id} + ';' + ${category.name}"
                                    th:selected="${category.equals(product.categoryDto)}"></option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="brands">Brand</label>
                        <select class="form-control" id="brands" th:field="*{brandDto}" required>
                            <option th:each="brand : ${brands}"
                                    th:text="${brand.name}"
                                    th:value="${brand.id} + ';' + ${brand.name}"
                                    th:selected="${brand.getId == product.brandDto.getId()}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Short description</label>
                    <textarea class="form-control" id="shortDescription" th:field="*{shortDescription}"
                              placeholder="Short description"></textarea>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" id="description" th:field="*{description}"
                              placeholder="Description" rows="8"></textarea>
                </div>
                <div class="form-group">
                    <label for="newPictures">Product images</label>
                    <input type="file" class="form-control" multiple
                           th:field="*{newPictures}"
                           id="newPictures"
                           placeholder="Upload new product pictures">
                </div>
                <div class="row">
                    <div class="form-check" th:if="${product.pictureIds != null}"
                         th:each="pictureId,itemStat : ${product.pictureIds}">
                        <div class="card border-primary mb-3 ml-3">
                            <div class="card-title mb-0">
                                <input class="form-check-input mx-0"
                                       type="radio"
                                       name="exampleRadios"
                                       th:id="${'exampleRadios' + itemStat.index}"
                                       th:field="*{mainPictureId}"
                                       th:value="${pictureId}" th:checked="${product.mainPictureId == pictureId}">
                                <label class="form-check-label ml-3" th:for="${'exampleRadios' + itemStat.index}">
                                    Main picture
                                </label>
                                <input th:field="*{pictureIds[__${itemStat.index}__]}" type="hidden"/>
                                <button type="submit" class="close float-right" aria-label="Close" name="deleting"
                                        th:value="${pictureId}"><i class="fa fa-times"></i>
                                </button>
                            </div>
                            <img class="card-img-bottom" style="height: 150px; width: 150px; object-fit: contain;"
                                 th:src="@{/picture/{id}(id = ${pictureId})}"/>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
<th:block th:insert="fragments/common :: end_scripts"></th:block>
</html>