<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common.html :: head('Users')"></head>
<body>
<div class="container">
    <header th:replace="fragments/common :: header"/>
    <nav th:replace="fragments/common.html :: navigation"></nav>
    <div class="row mb-3 mx-0">

        <div class="col-md-3 p-1">
            <div class="bg-light rounded border border-info h-100 shadow">
                <div class="card-header bg-info text-white">Filters</div>
                <form class="form-group m-0 p-3" th:method="get" th:with="name_param=${param.usernameFilter},
                        minAge_param=${param.minAge}, maxAge_param=${param.maxAge}">
                    <div th:replace="fragments/table :: filter('usernameFilter', 'Username filter', ${name_param})"></div>
                    <div th:replace="fragments/table :: filter('minAge', 'Minimal age', ${minAge_param})"></div>
                    <div th:replace="fragments/table :: filter('maxAge', 'Maximal age', ${maxAge_param})"></div>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>

        <div class="col-md-9 p-1">
            <div class="bg-light rounded border border-info p-2 shadow">
                <a class="btn btn-primary mb-2" th:href="@{/user/new}">Add User</a>
                <table class="table table-bordered mb-3">
                    <thead class="bg-info">
                    <tr>
                        <th th:replace="fragments/table :: header_users ('Id', 'id')"></th>
                        <th th:replace="fragments/table :: header_users ('Username', 'username')"></th>
                        <th th:replace="fragments/table :: header_users ('Age', 'age')"></th>
                        <th scope="col" class="text-white">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${users.hasContent()}" th:each="user : ${users.content}">
                        <th scope="row" th:text="${user.id}">1</th>
                        <td th:text="${user.username}">Alex</td>
                        <td th:text="${user.age}">22</td>
                        <td>
                            <a class="btn btn-success" th:href="@{/user/{id}(id = ${user.id})}">
                                <i class="fas fa-edit"></i></a>
                            <form class="d-inline" th:method="delete" th:action="@{/user/{id}(id = ${user.id})}">
                                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    <tr th:unless="${users.hasContent()}">
                        <td colspan="4">No data</td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-12" th:if="${users.hasContent()}">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item"
                                th:classappend="${users.isFirst()} ? 'disabled'">
                                <a th:replace="fragments/table :: paging_page_users('Previous', ${users.number})">Previous</a>
                            </li>
                            <li class="page-item"
                                th:each="num : ${#numbers.sequence(1, users.totalPages)}"
                                th:classappend="${num == users.number + 1} ? 'active'">
                                <a th:replace="fragments/table :: paging_page_users(${num}, ${num})">1</a>
                            </li>
                            <li class="page-item"
                                th:classappend="${users.isLast()} ? 'disabled'">
                                <a th:replace="fragments/table :: paging_page_users('Next', ${users.number + 2})">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:insert="fragments/common :: end_scripts"></th:block>
</html>