<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="eureka server local" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-eureka" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ru.geekbrains.SpringEurekaApplication" />
    <option name="ACTIVE_PROFILES" value="local" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>